ul {
margin: 0;
}
ul li {
font-size: 12pt;
list-style: none;
}
body 
{
    margin: 0;
    background: #DFDBD3 url(images/bg.gif) top left repeat-x;
}
#container 
{
    width: 640px;
    margin: 0 auto 0 auto;
    height: auto;
    overflow: visible;
    background-color: #e2ded6;
    background-image: url(images/panel_tile.png);
    padding-bottom: 10px;
}
#header 
{
    border: 7px solid white;
    border-top: 0;
    width: 600px;
    height: 148px;
    margin: 0 auto 0 auto;
    box-shadow: 5px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: white;
    background-image: url(images/header.png);
    margin-bottom: 10px;
}
.error
{
    color: #e62323;
}
div #sidebar
{
    width: 215px;
    margin-left: 12px;
    float: left;
}
div #login, div #links
{
    background-color: #e2ded6;
    border: 2px solid white;
    box-shadow: 0px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    margin: 0 auto 0 auto;
    margin-bottom: 12px;
}
div #main
{
    background-color: #e2ded6;
    border: 2px solid white;
    box-shadow: 5px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    width: 385px;
    margin: 0 auto 0 auto;
    margin-right: 14px;
    min-height: 100px;
    float: right;
    padding-bottom: 10px;
}
div #register
{
    background-color: #e2ded6;
    border: 2px solid white;
    box-shadow: 5px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    width: 385px;
    margin: 0 auto 0 auto;
    margin-right: 14px;
    min-height: 100px;
    float: right;
    padding-bottom: 10px;
}
div #withdrawal
{
    background-color: #e2ded6;
    border: 2px solid white;
    box-shadow: 5px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    width: 385px;
    margin: 0 auto 0 auto;
    margin-right: 14px;
    min-height: 100px;
    float: right;
    padding-bottom: 10px;
}
div #deposit
{
    background-color: #e2ded6;
    border: 2px solid white;
    box-shadow: 5px 5px 2px #b2b7b1;
    -moz-box-shadow: 5px 5px 2px #b2b7b1;
    width: 385px;
    margin: 0 auto 0 auto;
    margin-right: 14px;
    min-height: 100px;
    float: right;
    padding-bottom: 10px;
}
div #login h1, div #main h1, div #links h1, div #register h1, div#withdrawal h1, div#deposit h1
{
    background: url(images/title-links.gif) no-repeat;
    padding: 0;
    padding-left: 40px;
    padding-top: 6px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding-bottom: 10px;
}
p, label, div #links ul, table, h3
{
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    color: #4C4C4C;
    padding-bottom: 5px;
}
label
{
    padding-left: 0;
}
form
{
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
input[type=text]
{
    margin-bottom: 5px;
    display: block;
    width: 170px;
    border: solid thin #aaa;
    background-color: #eee;
    margin-top: 2px;
    font-size: 12px;
    padding-left: 4px;
    color: black;
}
input[type=password]
{
    margin-bottom: 5px;
    display: block;
    width: 170px;
    border: solid thin #aaa;
    background-color: #eee;
    margin-top: 2px;
    font-size: 12px;
    padding-left: 4px;
    color: black;
}
input[type=submit]
{
    margin-top: 4px;
    border: solid thin #aaa;
}
div #links ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
}
div #links li
{
    border-bottom: solid thin white;
    padding: 0;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 10px;
}
a
{
    background: #EBF3CE;
    color: #5D7403;
    text-decoration: none;
}
a:hover
{
    background: #B2CF42;
    color: #fff;
}
div #links li a
{
    font-weight: bold;
    color: #4C4C4C;
    background: transparent;
}
div #links li a:hover
{
    color: #E6E3DE;
    background: #B2CF42;
}

footer a, footer a:hover
{
    color: #ddd;
    background: transparent;
}
footer
{
    border: 2px solid white;
    background-color: #4c4c4c;
    border-bottom: 0;
    margin: 0 auto 0 auto;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 4px;
    display: block;
    width: 615px;
    text-align: center;
    font-size: 10px;
    font-family: verdana, sans-serif;
    color: #ddd;
}
.our-stuff li a
{
    font-size: 12px;
}
#intersango_logo
{
    padding-left: 10px;
    padding-top: 2px;
}
table
{
    border: 2px solid #4c4c4c;
    background-color: #e2ded6;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
}
th, td
{
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

div#register {
    margin-top: 10px;
}

div#register form
{
    margin-left: 30px;
}
div#register form label
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
div#register form input[type=text], #register form input[type=password]
{
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}
div#register form input[type=submit]
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 400px;
    float: right;
}

div#withdrawal {
    margin-top: 10px;
}

div#withdrawal form
{
    margin-left: 30px;
}
div#withdrawal form label
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
div#withdrawal form input[type=text], #withdrawal form input[type=password]
{
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}
div#withdrawal form input[type=submit]
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 400px;
    float: right;
}

div#deposit {
    margin-top: 10px;
}

div#deposit form
{
    margin-left: 30px;
}
div#deposit form label
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
div#deposit form input[type=text], #deposit form input[type=password]
{
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}
div#deposit form input[type=submit]
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 400px;
    float: right;
}

div#deposit form
{
    margin-left: 30px;
}
div#deposit form label
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
div#deposit form input[type=text], #deposit form input[type=password]
{
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}
div#deposit form input[type=submit]
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: 400px;
    float: right;
}

